.background {
  margin: 0 auto;
  padding: 50px 0;
  height: 100vh;
  background-image: linear-gradient(rgba(125, 55, 255, 0.2), rgba(235, 189, 39, 0.2)), asset-url('waitress.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
}

.cards {
  width: 90vw;
}