.zoom {
  overflow: hidden;
  border: none;
  flex-direction: column;
  background: rgba(125, 55, 255, 0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 32vw;
  padding: 20px;
  padding-top: 0;
  margin: 0 auto;
  
  a, h2, h3, li {
    text-decoration: none;
    color: rgba(235, 189, 39, 0.8);
    text-shadow: 0 0 0.5px rgba(235, 189, 39, 0.8);
  } 
  
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
  }

  ul {
    margin: 0;
  }

  li, p {
    font-size: 14px;
    opacity: .7;
  }

  .zoom-infos {
    
    display: flex;
    flex-direction: row;
    
    .zoom-image {

    }

    .zoom-doses {
      
    }
  }
} 